#page-map {
  display: flex;
  width: 100vw;
  height: 100vh;

  position: relative;
}

#page-map aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  padding: 4rem;

  background: linear-gradient(160deg,#15b6d6 0%, #15d685 100%)
}

#page-map aside h2 {
  margin-top: 4rem;

  font-size: 2.5rem;
  font-weight: 800;
  line-height: 42px;
}

#page-map aside p {
  margin-top: 1.5rem;
  line-height: 28px;
}

#page-map aside footer {
  display: flex;
  flex-direction: column;

  line-height: 24px;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map .leaflet-container {
  z-index: 5;
}

#page-map .create-orphanage {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  right: 2.5rem;
  bottom: 2.5rem;

  z-index: 10;

  background-color: #15c3d6;
  border-radius: 20px;

  transition: background-color 0.2s;
}

#page-map .create-orphanage:hover {
  background-color: #17d6eb;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 18px;
}

#page-map .map-popup .leaflet-popup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 12px;
  
  border-radius: 18px;
  
  color: #0089A5;
  font-weight: bold;
  font-size: 13px;
}

#page-map .map-popup .leaflet-popup-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #15c3d6;

  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}